*
{
	font-family: 'Varela Round', sans-serif;
}

body 
{
  margin     : 0;
  padding    : 0;
  font-family: sans-serif;
}

main-container, search-bar
{
	display: flex;
}

#header
{
	background     : #22192d;
	color          : #fff;
	padding        : 40px 0;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

/*---------------------------------------*/
/*---------- Search Bar Styles ----------*/
/*---------------------------------------*/

.search-bar
{
	background     : #e5e5e5;
	display        : flex;
	justify-content: center;
	padding        : 10px 0 10px 10px;
	margin-bottom  : 20px;
}

.search-bar #basic-addon1
{
	background: #fff;
	color     : #e5e5e5;
}

.search-bar #search-box
{
	border-left: none;
}

.form-inline
{
	margin-left: 10px;
}

/*----------------------------------*/
/*---------- Table Styles ----------*/
/*----------------------------------*/

.table-container
{
	margin: 0 20px 0 20px;
}

#table-head
{
	background: #1cb9f2;
	color     : #fff;
	cursor    : pointer;
	border-top: 2px solid #1cb9f2;
}

tbody
{
	background: #e9f5f6;
}

#table-topper
{
	width                  : 100%;
	height                 : 10px;
	background             : #1cb9f2;
	border-top-right-radius: 0.75rem;
	border-top-left-radius : 0.75rem;
}

#table-footer
{
	width                     : 100%;
	height                    : 20px;
	margin-top                : -20px;
	background                : #e5e5e5;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius : 0.75rem;
}

.table-pagination
{
	display        : flex;
	justify-content: center;
}

#diameter,
#rotation,
#orbit,
#terrain, 
#films,
tr td:nth-child(3),
tr td:nth-child(4),
tr td:nth-child(5), 
tr td:nth-child(6), 
tr td:nth-child(7)
{
	display   : none;
	visibility: hidden;
}

/*-----------------------------------*/
/*---------- Media Queries ----------*/
/*-----------------------------------*/

@media only screen and (min-width: 424px)
{
	#diameter, 
	tr td:nth-child(3)
	{
		display   : table-cell;
		visibility: visible;
	}
}

@media only screen and (min-width: 532px)
{
	#rotation, 
	tr td:nth-child(4)
	{
		display   : table-cell;
		visibility: visible;
	}
}

@media only screen and (min-width: 626px)
{
	#orbit, 
	tr td:nth-child(5)
	{
		display   : table-cell;
		visibility: visible;
	}
}

@media only screen and (min-width: 736px)
{
	#terrain, 
	tr td:nth-child(6)
	{
		display   : table-cell;
		visibility: visible;
	}
}

@media only screen and (min-width: 768px)
{
	.search-bar
	{
		justify-content: flex-start;
	}

	.table-pagination
	{
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 890px)
{
	#films, 
	#terrain, 
	tr td:nth-child(6), 
	tr td:nth-child(7)
	{
		display   : table-cell;
		visibility: visible;
	}
}
